* {
    box-sizing: border-box;
}

:root {
    --textcolor: #87ceeb;
}

body {
    background-color: rgb(51, 52, 58);
    color: white;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
  
h1 {
    font-size: 28pt;
    text-align: center;
    color: var(--textcolor);
    padding-top: 20px;
}

h2 {
    font-size: 1px;
    color: var(--textcolor);
    text-align: center;
    padding: 30px;
}

p {
    text-align: center;
    padding: 20px;
    color: var(--textcolor);
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

.card {
    padding: 20px;
    border: 2px dashed white;
    margin: 20px;
    width: 500px;
}

.card-header {
    width: 65%;
    font-size: 180%;
    font-weight: bold;
    color: var(--textcolor);
    padding: 10px;
    position: relative;
    left: 15%;
    bottom: 55px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 2%;
    background-color: rgb(51, 52, 58);
    text-align: center;
}

section div {
    background-color: rgb(212, 54, 212);
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(145, 76, 145, 0.322),rgba(187, 87, 187, 0.267) 200%);
  
}

.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
rgba(232, 102, 236, 1), 0 0 15px
rgba(232, 102, 236, 1);
}

#content-text {
    text-align: center;
    color: var(--textcolor);
}

@media screen and (max-width:768px){
    .card{
        width: 100%;
    }
}

@media screen and (max-width:992px){
    .card{
        width: 50%;
    }
}

/*
.code-card, .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

*/