* {
    box-sizing: border-box;
}

:root {
    --textcolor: #87ceeb;
    --text-align: center;
}

body {
    background-color: rgb(51, 52, 58);
    color: white;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 28pt;
    text-align: var(--text-align);
    color: var(--textcolor);
    padding-top: 20px;
}

h2 {
    font-size: 24px;
    color: var(--textcolor);
    text-align: var(--text-align);
    padding: 30px;
}

p {
    text-align: var(--text-align);
    padding: 0px 20px;
    color: var(--textcolor);
    margin-bottom: 20px;
}

code {
    user-select: all;
}

footer {
    text-align: var(--text-align);
}

.card {
    padding: 0px 20px 20px 20px;
    border: 2px dashed white;
    margin: 30px 15px;
    width: 24%;
    justify-content: center;
}

.card-header {
    width: 65%;
    font-weight: bold;
    color: var(--textcolor);
    padding: 10px;
    position: relative;
    left: 17%;
    bottom: 30px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 2%;
    background-color: rgb(51, 52, 58);
    text-align: var(--text-align);
}

.code-card {
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(233, 133, 233, 0.3) 0%, rgba(238, 37, 238, 0.6) 100%);
}

.code-card:hover,
.card-header {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

.code-card,
.card-header {
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 767px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: 40%;
    }
}

@media screen and (min-width: 993px) {
    .card {
        width: 27%;
    }
}